<ion-header>
  <ion-toolbar class="contFlex" color="primary">
    <ion-grid fixed>
      <ion-row class="ion-justify-content-center">
        <ion-col size="2" class="contFlex">
          <ion-icon
            (click)="goPrevPage()"
            name="arrow-back-circle-outline"
            size="large"
          ></ion-icon>
        </ion-col>
        <ion-col size="8" class="ion-align-self-center">
          <!--<ion-img src="assets/img/logoLaSpezia.png" class="logoLS"></ion-img>-->
          <ion-title class="ion-text-center">ADICIONALES</ion-title>
        </ion-col>
        <ion-col size="2" class="contFlex">
          <ion-icon
            (click)="redirectHome()"
            name="home-outline"
            size="large"
          ></ion-icon>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>

<ion-content class="container">
  <ion-grid color="primary">
    <ion-row class="ion-justify-content-center">
      <ion-col size="12">
        <ion-searchbar
          [debounce]="1500"
          (ionChange)="handleChange($event)"
          placeholder="Buscar adicional"
        ></ion-searchbar>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-list>
    <ion-item
      *ngFor="let extra of extras$|async"
      (click)="selectAdic(extra.id)"
      lines="none"
    >
      <ion-grid class="cadaExtra">
        <ion-row>
          <ion-row class="width100">
            <!--
            <ion-col size="4">
              <ion-row class="">
                <ion-img
                  class="avatar-producto imgSize"
                  [src]="extra?.imagen||'assets/img/no-image.png'"
                  onerror="assets/img/no-image.png"
                ></ion-img>
              </ion-row>
            </ion-col>
            -->
            <ion-col size="12" class="padLeft">
              <ion-row>
                <ion-label>
                  Descripcion:
                  <span class="font-bold"> {{extra.descExtra}} </span>
                </ion-label>
              </ion-row>
            </ion-col>
            <ng-container *ngFor="let precio of extra.historial_extra">
              <ion-col size="12" class="padLeft">
                <ion-label class="txtPrecio">
                  Precio:
                  <span class="font-bold">
                    {{precio?.precioExtra|currency}}
                  </span>
                </ion-label>
              </ion-col>
            </ng-container>
          </ion-row>
          <!--
          <ion-row>
            <ion-col>
              <ion-label class="ion-text-wrap">
                Descripción: {{extra.descProd}}
              </ion-label>
            </ion-col>
          </ion-row>
          -->
          <ion-row class="width100 ion-justify-content-center"> </ion-row>
        </ion-row>
      </ion-grid>
    </ion-item>
  </ion-list>
</ion-content>
