.contFlex{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.mt-10{
    margin-top: 10vh;
}

.padbot4{
    padding-bottom: 4vh;
}
.txtCenter{
    text-align: center;
}