.contFlex{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.pt-4{
    padding-top: 4vh;
}

.logoLS{
    height: 3vh;
}

.h6{
    height: 6vh;
}

.padbot4{
    padding-bottom: 4vh;
}

.padtop5{
    padding-top: 5vh;
}

.txtCenter{
    text-align: center;
}

.mb-10{
    margin-bottom: 10px;
}

form{
    margin-left: 4vh;
    margin-right: 4vh;
}

.mt-8{
    margin-top: 8vh;
}

.btnGde{
    width: 63vw;
    margin-top: 3vh;
    height: 8vh;
    font-size: 2vh;
    color: black;
}

ion-datetime{
    --background: #f4f4f4;
    border-radius: 16px;
}

.btnModalPass{
    color: black;
    margin-left: 10vw;
    margin-right: 10vw;
    margin-top: 6vh;
    border-style: solid;
    border-width: thin;
    border-radius: 5px;
}
.mgTop6{
    margin-top: 6vh;
}

.btnForm{
    display: flex;
    justify-content: center;
}