<ion-header>
  <ion-toolbar>
    <ion-grid>
      <ion-row>
        <ion-col class="ion-align-self-center ion-justify-content-center">
          <ion-row>
            <ion-icon (click)="goPrevPage()" name="arrow-back" size="large" class="btnBack"></ion-icon>
          </ion-row>
        </ion-col>
        <ion-col  size="6">
          <ion-row>
            <ion-col class="ion-text-center">
              <ion-img src="assets/img/logoLaSpezia.png" class="logoLS"></ion-img>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col class="ion-text-center">
              <ion-icon name="location" class="iconLoc"></ion-icon>
              <ion-text class="txtDomi">Pellegrini 1240, 4 B</ion-text>
            </ion-col>
          </ion-row>
        </ion-col>
        <ion-col class="ion-align-self-end ion-text-end">
          <ion-icon name="menu" (click)="openCustom()" class="ion-align-self-center btnMenu" size="large"></ion-icon>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>
<ion-menu side="end" menuId="custom" contentId="sideBar" class="my-custom-menu">
  <ion-header>
    <ion-toolbar color="spezia">
      <ion-title class="ion-text-center">NOMBRE_USUARIO</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list class="vertical-list ion-justify-content-center ion-align-items-center">
      <img src="assets/img/no-image.png" class="avatar-cliente itemNavBar">
      <ion-item lines="none" (click)="redirectPedidos()" class="itemNavBar">{{'mis pedidos'|uppercase}}</ion-item>
      <ion-item lines="none" (click)="redirectUsuario()" class="itemNavBar">{{'mis datos'|uppercase}}</ion-item>
      <ion-item lines="none" (click)="redirectDomicilios()" class="itemNavBar">{{'mis domicilios'|uppercase}}</ion-item>
      <ion-item lines="none" (click)="logout()" class="itemNavBar">{{'cerrar sesión'|uppercase}}</ion-item>
    </ion-list>
  </ion-content>
</ion-menu>

<ion-router-outlet id="sideBar"></ion-router-outlet>
