.logoLS{
    height: 3vh;
}

.txtDomi{
    font-size: small;
}

ion-col{
    padding: 0px;
}

.iconLoc{
    height: 2.2vh;
}

.contFlex{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.btnBack{
    margin-left: 2vw;;
}

.btnMenu{
    margin-right: 3vw;
    margin-bottom: 0.2vh;
}

.itemNavBar{
    margin-top: 3vh;
}