<app-header> </app-header>

<ion-content>
  <div class="contFlex padtop3">
    <h3 class="txtCenter">DETALLE PEDIDO</h3>
    <h4 class="txtCenter padbot4">Código pedido:<br>XXXX-CLAVE-DEL-PEDIDO-0000</h4>
  </div>
  <div class="recResumen">
    <ion-col size="10">
      <ion-row>
        <ion-label class="txtTitulo">DOMICILIO</ion-label>
      </ion-row>
      <ion-row class="padbot4">
        <ion-label>calle + nroCasa + piso + dpto</ion-label>
      </ion-row>
      <ion-row>
        <ion-label class="txtTitulo">DETALLE PEDIDO</ion-label>
      </ion-row>
      <ion-list >
        <ion-item *ngFor="let linea of lineasPedido">
          <ion-col size="6">
            <ion-label>{{linea.producto.nombre}}</ion-label>
          </ion-col>
          <ion-col size="2">
            <ion-label>{{linea.cantidad}} Unid.</ion-label>
          </ion-col>
          <ion-col size="3">
            <ion-label class="ion-text-end">{{linea.totalProducto|currency}}</ion-label>
          </ion-col>
        </ion-item>
      </ion-list>
      <ion-row class="padbot4">
        <ion-col size="6">
          <ion-label>{{envio.service|titlecase}}</ion-label>
        </ion-col>
        <ion-col size="5">
          <div class="ion-text-end">
            <ion-label>{{envio.price|currency}}</ion-label>
          </div>
        </ion-col>
      </ion-row>
      <ion-row class="padbot4">
        <ion-col size="6">
          <ion-label class="txtTitulo">TOTAL</ion-label>
        </ion-col>
        <ion-col size="5">
          <div class="ion-text-end txtTitulo">
            <ion-label>{{pedido.total|currency}}</ion-label>
          </div>
        </ion-col>
      </ion-row>
      <ion-row class="padbot4">
        <ion-col size="6">
          <ion-label class="txtTitulo">FORMA DE PAGO</ion-label>
        </ion-col>
        <ion-col size="5">
          <div class="ion-text-end">
            <ion-label>Efectivo en la entrega</ion-label><!--No es necesario poner variable por el momento-->
          </div>
        </ion-col>
      </ion-row>
      <ion-row class="padbot4">
        <ion-col size="6">
          <ion-label class="txtTitulo">ESTADO</ion-label>
        </ion-col>
        <ion-col size="5">
          <div class="ion-text-end">
            <ion-label>En preparación</ion-label><!--Va variable de estado-->
          </div>
        </ion-col>
      </ion-row>
    </ion-col>
  </div>
</ion-content>