<app-header> </app-header>

<ion-content>
  <div class="contFlex mt-4">
    <h3 class="ion-text-center">EDITAR DOMICILIO</h3>
  </div>
  <form [formGroup]="form" (ngSubmit)="presentAlert()" class="mt-4">
    <ion-item>
      <ion-label position="stacked">Calle</ion-label>
      <ion-input formControlName="domiCalle"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Número</ion-label>
      <ion-input formControlName="domiNumero"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Piso</ion-label>
      <ion-input formControlName="domiPiso"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Departamento</ion-label>
      <ion-input formControlName="domiDpto"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Observaciones</ion-label>
      <ion-input formControlName="domiObs"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Localidad</ion-label>
      <ion-input formControlName="domiLoc"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Provincia</ion-label>
      <ion-input formControlName="domiProv"></ion-input>
    </ion-item>
    <div class="btnForm">
      <ion-button color="spezia" type="submit" class="mgTop6 ion-align-self-center">Actualizar domicilio</ion-button>
      <ion-button color="spezia" (click)="redirectDomicilios()" class="mgTop6 ion-align-self-center">Cancelar</ion-button>
    </div>
  </form>
</ion-content>
