<app-header [showMenu]="false" [prevPage]="'/domicilios'"> </app-header>

<ion-content>
  <div class="contFlex mt-4">
    <h3 class="ion-text-center">EDITAR DOMICILIO</h3>
  </div>
  <form [formGroup]="form" (ngSubmit)="presentAlert()" class="mt-4">
    <ion-item>
      <ion-label position="stacked">Calle*</ion-label>
      <ion-input formControlName="calle"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Número*</ion-label>
      <ion-input formControlName="nroCasa"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Piso</ion-label>
      <ion-input formControlName="piso"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Departamento</ion-label>
      <ion-input formControlName="dpto"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Observaciones</ion-label>
      <ion-input formControlName="domiObs"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Localidad*</ion-label>
      <ion-input formControlName="idLocalidad"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Provincia*</ion-label>
      <ion-input formControlName="idProvincia"></ion-input>
    </ion-item>
    <ion-text color="danger">
      <h4 class="ion-text-center"> {{mensajeError}} </h4>
    </ion-text>
    <div class="btnForm">
      <ion-button
        color="spezia"
        type="submit"
        class="mgTop6 ion-align-self-center"
        >Actualizar domicilio</ion-button
      >
      <ion-button
        color="spezia"
        (click)="redirectDomicilios()"
        class="mgTop6 ion-align-self-center"
        >Cancelar</ion-button
      >
    </div>
  </form>
</ion-content>
