<app-header> </app-header>

<ion-content class="container">
  <ion-list class="filtrosCont">
    <ion-list-header>
      <ion-label> Filtros </ion-label>
    </ion-list-header>
    <ion-radio-group
      allowEmptySelection="true"
      (ionChange)="handleFilter($event)"
    >
      <ion-item lines="none" color="#ffca59" *ngFor="let cat of categorias">
        <ion-label class="colorShade">{{cat.descCategoria}}</ion-label>
        <ion-radio [value]="cat.id" class="colorShade"></ion-radio>
      </ion-item>
    </ion-radio-group>
  </ion-list>

  <!-- List of Text Items -->
  <ion-list>
    <ion-item *ngFor="let prod of productos$|async" (click)="selectProduct(prod.id)" lines="none" >
      <ion-buttons class="cadaProd">
        <ion-row>
          <ion-row>
            <ion-col size="4">
              <ion-row class="ion-justify-content-center">
                <ion-img class="avatar-producto" src="assets/img/no-image.png"></ion-img>
              </ion-row>
            </ion-col>
            <ion-col>
              <ion-row>
                <ion-label>{{prod.nombre}}</ion-label>
              </ion-row>
              <ion-row>
                <ion-col size="6">
                  <ion-label>{{getCategoriaProducto(prod.idCategoria)}}</ion-label>
                </ion-col>
                <ion-col size="6">
                  <ion-label>{{prod.tamanio}}</ion-label>
                </ion-col>
              </ion-row>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-label class="ion-text-wrap ion-text-center">
                {{prod.descProd}}
              </ion-label>
            </ion-col>
          </ion-row>
        </ion-row>
      </ion-buttons>
    </ion-item>
  </ion-list>
</ion-content>
<!-- mis cambios -->
