<app-header> </app-header>

<ion-content>
  <div class="contFlex padtop5">
    <h3 class="txtCenter">DATOS PERSONALES</h3>
  </div>
  <form [formGroup]="form" (ngSubmit)="editaUsuario()">
    <ion-item>
      <ion-label position="floating">Apellido</ion-label>
      <ion-input formControlName="apellido"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Nombre</ion-label>
      <ion-input formControlName="nombre"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Fecha de nacimiento</ion-label>
      <ion-input formControlName="fechaNac"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Número de teléfono</ion-label>
      <ion-input formControlName="nroTel"></ion-input>
    </ion-item>
    <ion-button type="submit">
      Login
    </ion-button>
  </form>
</ion-content>
