<app-header> </app-header>

<ion-content>
  <div class="contFlex padtop5">
    <h3 class="txtCenter">DATOS PERSONALES</h3>
  </div>
  <form [formGroup]="form" (ngSubmit)="editaUsuario()">
    <ion-item>
      <ion-label position="stacked">Apellido</ion-label>
      <ion-input 	clear-on-edit="true" clear-input="true" formControlName="apellido">{{apellido}}</ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Nombre</ion-label>
      <ion-input formControlName="nombre"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Fecha de nacimiento</ion-label>
      <ion-input formControlName="fechaNac"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Número de teléfono</ion-label>
      <ion-input formControlName="nroTelefono"></ion-input>
    </ion-item>
    <ion-button color="spezia" type="submit">Actualizar</ion-button>
    <ion-button color="spezia" (click)="redirectInicio()">Cancelar</ion-button>
  </form>
</ion-content>
