form{
    margin-left: 10vw;
    margin-right: 10vw;
}
.btnModalPass{
    color: black;
    margin-left: 10vw;
    margin-right: 10vw;
    margin-top: 6vh;
    border-style: solid;
    border-width: thin;
    border-radius: 5px;
}
.mgTop6{
    margin-top: 6vh;
}
ion-datetime{
    --background: #f4f4f4;
    border-radius: 16px;
}
.btnForm{
    display: flex;
    justify-content: center;
}