<app-header> </app-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-grid>
        <ion-row class="ion-align-items-center ion-justify-content-center">
          <ion-col [size]="'auto'">
            <ion-img
              class="img-producto"
              [src]="producto?.imagen||'assets/img/no-image.png'"
              onerror="assets/img/no-image.png"
            ></ion-img>
          </ion-col>
          <ion-row style="flex-direction: column">
            <ion-col [size]="'auto'">
              <ion-card-subtitle>{{producto?.tamanio}}</ion-card-subtitle>
            </ion-col>
            <ion-col [size]="'auto'">
              <ion-card-title>{{producto?.nombre}}</ion-card-title>
            </ion-col>
          </ion-row>
        </ion-row>
      </ion-grid>
    </ion-card-header>

    <ion-card-content>
      {{producto?.descProd}}
      <form [formGroup]="form">
        <ion-item>
          <ion-icon name="restaurant-outline" class="mr-10"></ion-icon>
          <ion-select
            formControlName="tamanio"
            (ionChange)="handleFilter($event)"
            placeholder="Seleccione Tamaño"
          >
            <ion-content *ngFor="let tam of tamanios">
              <ion-select-option [value]="tam.id"
                >{{tam.tamanio|titlecase}}</ion-select-option
              >
            </ion-content>
          </ion-select>
        </ion-item>
        <span class="error ion-padding" *ngIf="isSubmitted && controls.tamanio.errors?.required">
          El tamaño es requerido.
        </span>
        <ion-item>
          <ion-checkbox
            color="primary"
            class="mr-10"
            slot="start"
          ></ion-checkbox>
          <ion-label>Con papas</ion-label>
        </ion-item>

        <ion-item id="open-modal" expand="block" [disabled]="!tamanioSelected">
          <ion-icon
            name="add-circle-outline"
            slot="start"
            class="mr-10"
          ></ion-icon>
          <ion-label>Adicionales</ion-label>
        </ion-item>

        <ion-grid>
          <ion-row>
            <ion-col *ngFor="let extra of extrasProduct">
              <ion-chip>
                <ion-label>{{extra.descExtra}}</ion-label>
                <ion-icon
                  [id]="extra.id"
                  name="close-circle"
                  (click)="removeExtra($event)"
                ></ion-icon>
              </ion-chip>
            </ion-col>
          </ion-row>
        </ion-grid>
        <ion-item>
          <ion-label position="floating">Notas sobre el producto</ion-label>
          <ion-textarea formControlName="notasDeProducto"></ion-textarea>
        </ion-item>
        <ion-grid>
          <ion-row class="ion-justify-content-center">
            <ion-col size="2">
              <ion-button size="small" (click)="restar()">
                <ion-icon slot="icon-only" name="remove-outline"></ion-icon>
              </ion-button>
            </ion-col>
            <ion-col size="2" class="ion-align-self-center">
              <div class="ion-text-center">{{this.cantidad}}</div>
            </ion-col>
            <ion-col size="2">
              <ion-button size="small" (click)="sumar()">
                <ion-icon slot="icon-only" name="add-outline"></ion-icon>
              </ion-button>
            </ion-col>
          </ion-row>
          <ion-row class="ion-justify-content-center">
            <ion-col class="ion-align-self-center">
              <ion-text class="ion-text-center" color="primary">
                <h2><strong>Total:</strong> ${{this.totalProducto}}</h2>
              </ion-text>
            </ion-col>
          </ion-row>
          <ion-row class="ion-justify-content-center">
            <ion-col size="auto" class="ion-align-self-center">
              <ion-button color="primary" [disabled]="" (click)="addProduct()">
                Agregar al pedido
                <ion-icon slot="end" name="checkmark-outline"></ion-icon>
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </form>
    </ion-card-content>
  </ion-card>

  <!--                            Modal Adicionales                   -->
  <ion-modal trigger="open-modal" (willDismiss)="onWillDismiss($event)">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-title>Adicionales</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
        <div *ngIf="isBurger; else pizza">
          <ion-item>
            <ion-select
              (ionChange)="handleFilterHamburguesas($event)"
              placeholder="Desea medallones extras?"
            >
              <ion-select-option [value]="-1"
                >Sin medallones extras</ion-select-option
              >
              <ion-content *ngFor="let extraHamb of extraHamburguesas">
                <ion-select-option [value]="extraHamb"
                  >{{extraHamb}}</ion-select-option
                >
              </ion-content>
            </ion-select>
          </ion-item>
        </div>
        <ng-template #pizza>
          <ion-item> Irian los extras de pizza </ion-item>
        </ng-template>
        <ion-item *ngFor="let extra of extras$|async">
          <ion-label>{{extra.descExtra}}</ion-label>
          <ion-checkbox
            (ionChange)="setExtra($event)"
            color="primary"
            slot="start"
            [id]="extra.id"
            [checked]="isChecked(extra.id)"
            [value]="extra"
          ></ion-checkbox>
        </ion-item>

        <ion-item class="ion-text-center" lines="none">
          <ion-label> Subtotal: {{subtotal}}</ion-label>
        </ion-item>
        <ion-item class="ion-text-center" lines="none">
          <ion-label>Total: {{totalProducto}}</ion-label>
        </ion-item>
      </ion-content>
      <ion-footer>
        <ion-toolbar>
          <ion-buttons slot="start">
            <ion-button (click)="cancel()">Cancelar</ion-button>
          </ion-buttons>
          <ion-buttons slot="end">
            <ion-button
              fill="solid"
              (click)="confirm()"
              [strong]="true"
              color="primary"
              >Confirmar</ion-button
            >
          </ion-buttons>
        </ion-toolbar>
      </ion-footer>
    </ng-template>
  </ion-modal>
</ion-content>
