<app-header> </app-header>

<ion-content *ngIf="extras$|async as extras">
  <ion-card>
    <ion-card-header>
      <ion-grid>
        <ion-row class="ion-align-items-center ion-justify-content-center">
          <ion-col [size]="'12'" class="contFlex">
            <ion-img
              class="img-producto"
              [src]="producto?.imagen||'assets/img/no-image.png'"
              onerror="assets/img/no-image.png"
            ></ion-img>
          </ion-col>
          <ion-row style="flex-direction: column">
            <!--
            <ion-col [size]="'auto'">
              <ion-card-subtitle>{{producto?.tamanio}}</ion-card-subtitle>
            </ion-col>
            -->
            <ion-col [size]="'12'">
              <ion-card-title>{{producto?.nombre}}</ion-card-title>
            </ion-col>
          </ion-row>
        </ion-row>
      </ion-grid>
    </ion-card-header>

    <ion-card-content>
      {{producto?.descProd}}
      <form [formGroup]="form">
        <ion-item lines="none" class="mt-2">
          <ion-icon name="restaurant-outline" class="mr-10"></ion-icon>
          <ion-select
            formControlName="tamanio"
            (ionChange)="handleFilter($event)"
            placeholder="Seleccione Tamaño"
          >
            <ion-content *ngFor="let tam of tamanios">
              <ion-select-option [value]="tam.id"
                >{{tam.tamanio|titlecase}}</ion-select-option
              >
            </ion-content>
          </ion-select>
        </ion-item>
        <span
          class="error ion-padding"
          *ngIf="isSubmitted && controls.tamanio.errors?.required"
        >
          El tamaño es requerido.
        </span>
        <!-- <ion-item lines="none" *ngIf="isBurger" >
          <ion-checkbox
            color="spezia"
            class="mr-10"
            slot="start"
          ></ion-checkbox>
          <ion-label>Con papas</ion-label>
        </ion-item> -->

        <ion-item
          id="open-modal"
          expand="block"
          [disabled]="!tamanioSelected"
          lines="none"
          *ngIf="isBurger"
        >
          <ion-icon
            name="add-circle-outline"
            slot="start"
            class="mr-10"
          ></ion-icon>
          <ion-label>Adicionales</ion-label>
        </ion-item>

        <ion-grid>
          <ion-row>
            <ion-col *ngFor="let extra of extrasProduct">
              <ion-chip>
                <ion-label color="spezia">{{extra.descExtra}}</ion-label>
                <ion-icon
                  [id]="extra.id"
                  name="close-circle"
                  (click)="removeExtra($event)"
                ></ion-icon>
              </ion-chip>
            </ion-col>
          </ion-row>
        </ion-grid>
        <ion-item>
          <ion-label position="floating">Notas sobre el producto</ion-label>
          <ion-textarea formControlName="notasDeProducto"></ion-textarea>
        </ion-item>
        <ion-grid>
          <ion-row class="ion-justify-content-center mt-6">
            <ion-col size="3" class="contFlex">
              <ion-button
                color="spezia"
                size="default"
                (click)="restar()"
                class="removeBtn"
                [disabled]="!tamanioSelected"
              >
                <ion-icon slot="icon-only" name="remove-outline"></ion-icon>
              </ion-button>
            </ion-col>
            <ion-col
              size="2"
              class="ion-align-self-center ion-justify-content-center"
            >
              <div class="ion-text-center"><h2>{{this.cantidad}}</h2></div>
            </ion-col>
            <ion-col size="3" class="contFlex">
              <ion-button
                color="spezia"
                size="default"
                (click)="sumar()"
                [disabled]="!tamanioSelected"
              >
                <ion-icon slot="icon-only" name="add-outline"></ion-icon>
              </ion-button>
            </ion-col>
          </ion-row>
          <ion-row class="ion-justify-content-center">
            <ion-col class="ion-align-self-center">
              <ion-text class="ion-text-center">
                <h1><strong>Total:</strong> ${{this.totalProducto||0}}</h1>
              </ion-text>
            </ion-col>
          </ion-row>
          <ion-row class="ion-justify-content-center">
            <ion-col size="auto" class="ion-align-self-center">
              <ion-button
                size="large"
                color="spezia"
                [disabled]=""
                (click)="addProduct()"
              >
                Agregar al pedido
                <ion-icon slot="end" name="checkmark-outline"></ion-icon>
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </form>
    </ion-card-content>
  </ion-card>

  <!--                            Modal Adicionales                   -->
  <ion-modal
    trigger="open-modal"
    (willDismiss)="onWillDismiss($event)"
    *ngIf="isBurger"
  >
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-title class="ion-align-self-center ion-justify-content-center"
            >Adicionales</ion-title
          >
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
        <ng-container *ngFor="let extra of extras">
          <ion-item *ngIf="extra.id==medallonId">
            <ion-label>Medallones extra:</ion-label>
            <ion-select
              (ionChange)="handleFilterHamburguesas($event, extra)"
              placeholder="Seleccione"
            >
              <ion-select-option [value]="-1">Ninguno</ion-select-option>
              <ion-content *ngFor="let extraHamb of extraHamburguesas">
                <ion-select-option [value]="extraHamb"
                  >{{extraHamb}}</ion-select-option
                >
              </ion-content>
            </ion-select>
          </ion-item>
        </ng-container>
        <ng-container *ngFor="let extra of extras">
          <ion-item *ngIf="extra.id!=medallonId" lines="none">
            <ng-container *ngIf="extra.id!=medallonId">
              <ion-label
                >{{extra.descExtra}} ({{extra.precio??0|currency}})</ion-label
              >
              <ion-checkbox
                (ionChange)="setExtra($event)"
                color="spezia"
                slot="start"
                [id]="extra.id"
                [checked]="isChecked(extra.id)"
                [value]="extra"
              ></ion-checkbox>
            </ng-container>
          </ion-item>
        </ng-container>

        <ion-item class="ion-text-center" lines="none">
          <ion-label><h2>Subtotal: ${{subtotal}}</h2></ion-label>
        </ion-item>
        <ion-item class="ion-text-center" lines="none">
          <ion-label
            ><h1><strong>Total:</strong> ${{totalProducto}}</h1></ion-label
          >
        </ion-item>
      </ion-content>
      <ion-footer>
        <ion-toolbar>
          <ion-buttons slot="start">
            <ion-button (click)="cancel(extras)">Cancelar</ion-button>
          </ion-buttons>
          <ion-buttons slot="end">
            <ion-button
              fill="solid"
              (click)="confirm()"
              [strong]="true"
              color="spezia"
              >Confirmar</ion-button
            >
          </ion-buttons>
        </ion-toolbar>
      </ion-footer>
    </ng-template>
  </ion-modal>
</ion-content>
