<app-header> </app-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-grid>
        <ion-row class="ion-align-items-center ion-justify-content-center">
          <ion-col [size]="'auto'">
            <ion-img
              class="img-producto"
              src="assets/img/no-image.png"
            ></ion-img>
          </ion-col>
          <ion-row style="flex-direction: column">
            <ion-col [size]="'auto'">
              <ion-card-subtitle>{{producto.tamanio}}</ion-card-subtitle>
            </ion-col>
            <ion-col [size]="'auto'">
              <ion-card-title>{{producto.nombre}}</ion-card-title>
            </ion-col>
          </ion-row>
        </ion-row>
      </ion-grid>
    </ion-card-header>

    <ion-card-content>
      {{producto.descProd}}
      <ion-item>
        <ion-icon name="restaurant-outline" class="mr-10"></ion-icon>
        <ion-select
          (ionChange)="handleFilter($event)"
          placeholder="Seleccione Tamaño"
        >
          <ion-select-option [value]="-1">Ninguna</ion-select-option>
          <ion-content *ngFor="let tam of tamaniosHamburguesa">
            <ion-select-option [value]="tam"
              >{{tam|titlecase}}</ion-select-option
            >
          </ion-content>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-checkbox color="primary" class="mr-10" slot="start"></ion-checkbox>
        <ion-label>Con papas</ion-label>
      </ion-item>

      <ion-item id="open-modal" expand="block">
        <ion-icon
          name="add-circle-outline"
          slot="start"
          class="mr-10"
        ></ion-icon>
        <ion-label>Adicionales</ion-label>
      </ion-item>

      <ion-grid>
        <ion-row>
          <ion-col *ngFor="let extra of extrasProduct">
            <ion-chip>
              <ion-label>{{extra.descExtra}}</ion-label>
              <ion-icon [id]="extra.id" name="close-circle" (click)="removeExtra($event)"></ion-icon>
            </ion-chip>
          </ion-col>
        </ion-row>
      </ion-grid>
      <ion-item>
        <ion-label position="floating">Notas sobre el producto</ion-label>
        <ion-textarea></ion-textarea>
      </ion-item>
    </ion-card-content>
  </ion-card>

  <ion-modal trigger="open-modal" (willDismiss)="onWillDismiss($event)">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-title>Adicionales</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
        <ion-item>
          <ion-select
            (ionChange)="handleFilterHamburguesas($event)"
            placeholder="Desea medallones extras?"
          >
            <ion-select-option [value]="-1"
              >Sin medallones extras</ion-select-option
            >
            <ion-content *ngFor="let extraHamb of extraHamburguesas">
              <ion-select-option [value]="extraHamb"
                >{{extraHamb}}</ion-select-option
              >
            </ion-content>
          </ion-select>
        </ion-item>
        <ion-item *ngFor="let extra of extras">
          <ion-label>{{extra.descExtra}}</ion-label>
          <ion-checkbox
            (ionChange)="setExtra($event)"
            color="primary"
            slot="start"
            [id]="extra.id"
            [checked]="isChecked(extra.id)"
          ></ion-checkbox>
        </ion-item>

        <ion-item class="ion-text-center">
          <ion-label> Subtotal: {{subtotal}}</ion-label>
        </ion-item>
        <ion-item class="ion-text-center">
          <ion-label>Total: {{total}}</ion-label>
        </ion-item>
      </ion-content>
      <ion-footer>
        <ion-toolbar>
          <ion-buttons slot="start">
            <ion-button (click)="cancel()">Cancel</ion-button>
          </ion-buttons>
          <ion-buttons slot="end">
            <ion-button (click)="confirm()" [strong]="true">Confirm</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-footer>
    </ng-template>
  </ion-modal>
</ion-content>
