
<ion-content>
  <h3 class="txtCenter">MIS DOMICILIOS</h3>
  <h5 *ngIf="(listaDomicilios$|async)?.length; else notDomicilios;" class="txtCenter padbot4">Seleccione el domicilio desde el cual se realizará el pedido</h5>
  <ng-template #notDomicilios>
    <h5 class="txtCenter padbot4">Seleccione el domicilio desde el cual se realizará el pedido</h5>
  </ng-template>
  
  <ion-grid class="padleft4">
    <ion-row
    lines="none"
    class="ion-justify-content-center cadaDomic padbot2"
    *ngFor="let domicilio of listaDomicilios$|async"
    > <!-- línea copiada de pagina inicio, revisar. La idea es que cada item se repita con cada domicilio de la BD-->
        <ion-col size="8" (click)="selectPredeterminado(domicilio)" class="contFlex domic">
          <ion-row class="btnDomi txtCenter">{{formatDomicilio(domicilio)|titlecase}}</ion-row> <!-- en el TS: crear una sola variable con toda la dirección appendeada, o sea, en un solo string -->
        </ion-col>
        <ion-col size="2" class="contFlex padleft3">
          <!-- <ion-button (click)="selectPredeterminado(domicilio)" size="default" expand="block" fill="solid" class="btnDomiPredet padbot1" [color]="domicilio.estaActivo?'spezia':'light'" type="reset">Predeterminado</ion-button> Este botón debería ser de los activado-desactivado. Pero me parece que eso se hace desde el código -->
          <ion-button fill="clear" class="" size="small" color="spezia" (click)="editaDomicilio()">
            <ion-img class="imgEdit" src="assets/img/edit.png"></ion-img>
          </ion-button>
        </ion-col>
    </ion-row>
  </ion-grid>
  <div class="mt-5 contCenter">
    <ion-button expand="block" class="btnGde" color="spezia" (click)="redirectDomicilioRegistro()">Agregar domicilio</ion-button>
  </div>
</ion-content>
