<ion-header>
  <ion-toolbar class="contFlex" color="primary">
    <ion-grid fixed>
      <ion-row class="ion-justify-content-center">
        <ion-col size="2" class="contFlex">
          <ion-icon (click)="goPrevPage()" name="arrow-back-circle-outline" size="large"></ion-icon>
        </ion-col>
        <ion-col size="8" class="ion-align-self-center">
          <!--<ion-img src="assets/img/logoLaSpezia.png" class="logoLS"></ion-img>-->
          <ion-title class="ion-text-center">CARGAR PRODUCTO</ion-title>
        </ion-col>
        <ion-col size="2" class="contFlex"> 
          <ion-icon (click)="redirectHome()" name="home-outline" size="large"></ion-icon>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="contFlex">
    <h4 class="txtCenter padbot4">Todos los campos son obligatorios</h4>
  </div>
  <form [formGroup]="form" (ngSubmit)="registrarProducto()">
    <ion-item class="mb-10">
      <ion-label>Categoría</ion-label>
      <ion-select formControlName="categoria" name="categoria" placeholder="Elija..." okText="Listo" cancelText="Cancelar">
        <ion-select-option value="hamburguesa">Hamburguesa</ion-select-option>
        <ion-select-option value="pizzaALaParrilla">Pizza a la parrilla</ion-select-option>
        <ion-select-option value="pizzaAlMolde">Pizza al molde</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item class="mb-10">
      <ion-label position="floating">Nombre</ion-label>
      <ion-input formControlName="nombre"></ion-input>
    </ion-item>
    <ion-item class="mb-10">
      <ion-label position="floating">Descripcion</ion-label>
      <ion-input formControlName="descProd"></ion-input>
    </ion-item>
    <ion-item class="mb-10">
      <ion-label>Tamaño</ion-label>
      <ion-select formControlName="tamanio" name="tamanio" placeholder="Elija..." okText="Listo" cancelText="Cancelar">
        <ion-select-option value="entera">Pizza entera</ion-select-option>
        <ion-select-option value="media">Pizza media</ion-select-option>
        <ion-select-option value="simple">Hamburguesa simple</ion-select-option>
        <ion-select-option value="doble">Hamburguesa doble</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item class="mb-10">
      <ion-label position="floating">PVC</ion-label>
      <ion-input formControlName="costoProd"></ion-input>
    </ion-item>
    <ion-item class="mb-10">
      <ion-label position="floating">PVP</ion-label>
      <ion-input formControlName="precioProd"></ion-input>
    </ion-item>
    <ion-item class="mb-10">
      <ion-label position="floating">Margen</ion-label>
      <ion-input formControlName="margen"></ion-input>
    </ion-item>
    <div class="contFlex mb-10">
      <ion-button expand="block" color="primary" type="submit">Cargar imagen</ion-button>
    </div>
    <div class="contFlex mb-10">
      <ion-button expand="block" class="btnGde" color="primary" type="submit">GUARDAR</ion-button>
    </div>
  </form>
</ion-content>
