<ion-header>
  <ion-toolbar class="contFlex" color="primary">
    <ion-grid fixed>
      <ion-row class="ion-justify-content-center">
        <ion-col size="2" class="contFlex">
          <ion-icon
            (click)="goPrevPage()"
            name="arrow-back-circle-outline"
            size="large"
          ></ion-icon>
        </ion-col>
        <ion-col size="8" class="ion-align-self-center">
          <!--<ion-img src="assets/img/logoLaSpezia.png" class="logoLS"></ion-img>-->
          <ion-title class="ion-text-center">CARGAR PRODUCTO</ion-title>
        </ion-col>
        <ion-col size="2" class="contFlex">
          <ion-icon
            (click)="redirectHome()"
            name="home-outline"
            size="large"
          ></ion-icon>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="contFlex">
    <h4 class="txtCenter padbot4">Todos los campos son obligatorios</h4>
  </div>
  <form [formGroup]="form">
    <ion-item class="mb-10">
      <ion-label>Categoría</ion-label>
      <ion-select
        formControlName="categoria"
        (ionChange)="setTamanios($event)"
        name="categoria"
        placeholder="Elija..."
        okText="Listo"
        cancelText="Cancelar"
      >
        <ng-container *ngFor="let cat of categorias$|async">
          <ion-select-option [value]="cat.id"
            >{{cat.descCategoria|titlecase}}</ion-select-option
          >
        </ng-container>
      </ion-select>
    </ion-item>
    <ion-item class="mb-10">
      <ion-label position="floating">Nombre</ion-label>
      <ion-input formControlName="nombre"></ion-input>
    </ion-item>
    <ion-item class="mb-10">
      <ion-label position="floating">Descripcion</ion-label>
      <ion-input formControlName="descProd"></ion-input>
    </ion-item>
    <ion-item class="mb-10">
      <ion-label>Tamaño</ion-label>
      <ion-select
        formControlName="tamanio"
        name="tamanio"
        placeholder="Elija..."
        okText="Listo"
        cancelText="Cancelar"
      >
        <ng-container *ngIf="tamanios.length>0;else notTamanios">
          <ion-select-option *ngFor="let tam of tamanios" [value]="tam"
            >{{tam |titlecase}}</ion-select-option
          >
        </ng-container>
        <ng-template #notTamanios>
          <ion-select-option [value]="null">No hay tamanios</ion-select-option>
        </ng-template>
      </ion-select>
    </ion-item>
    <ion-item class="mb-10">
      <ion-label position="floating">PVC</ion-label>
      <ion-input formControlName="costoProd"></ion-input>
    </ion-item>
    <ion-item class="mb-10">
      <ion-label position="floating">PVP</ion-label>
      <ion-input formControlName="precioProd"></ion-input>
    </ion-item>
    <ion-item class="mb-10">
      <ion-label position="floating">Margen</ion-label>
      <ion-input formControlName="margen"></ion-input>
    </ion-item>
    <ion-row class="ion-justify-content-center">
      <ion-col size="auto">
        <ion-img
          class="avatar-producto imgSize mb-10"
          [src]="url||'assets/img/no-image.png'"
          onerror="assets/img/no-image.png"
        ></ion-img>
      </ion-col>
    </ion-row>
    <div class="contFlex mb-10">
      <ion-button expand="block" color="secondary" (click)="selectImage()"
        >Cargar imagen</ion-button
      >
    </div>
    <div class="contFlex mb-10">
      <ion-button
        expand="block"
        class="btnGde"
        color="primary"
        type="submit"
        (click)="registrarProducto()"
        >GUARDAR</ion-button
      >
    </div>
  </form>
</ion-content>
