.mb-10{
    margin-bottom: 10px;
}
.mt-8{
    margin-top: 8vh;
}
.image{
    border-radius:50%; 
    width:100%; 
    height: auto;
    overflow: hidden;
}

.ion-color-spezia {
    --ion-color-base: var(--ion-color-spezia);
    --ion-color-base-rgb: var(--ion-color-spezia-rgb);
    --ion-color-contrast: var(--ion-color-spezia-contrast);
    --ion-color-contrast-rgb: var(--ion-color-spezia-contrast-rgb);
    --ion-color-shade: var(--ion-color-spezia-shade);
    --ion-color-tint: var(--ion-color-spezia-tint);
  }

.btnGde{
    width: 63vw;
    margin-top: 3vh;
    height: 8vh;
    font-size: 2vh;
    color: black;
}

.contCenter{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}