.cadaPed{
    margin-bottom: 1vh;
    border: 1px solid;
    border-radius: 2%;
    padding: 2vh; 
    border-color: black;
    width: 100%;
}
.estadoFont{
    font-weight: bold;
    text-transform: uppercase;
}