.cadaPed{
    margin-bottom: 1vh;
    border: 1px solid;
    border-radius: 2%;
    padding: 2vh; 
    border-color: black;
    width: 100%;
}
.estadoFont{
    font-weight: bold;
    text-transform: uppercase;
}
.ml-6 {
    margin-left: 6vw;
  }
  .pl-1{
    padding-left: 1vw;
  }
  
  .pedEntregado {
    margin-bottom: 5vh;
    border: 4px solid;
    border-radius: 2%;
    border-color: grey;
    margin-left: 3vw;
    margin-right: 3vw;
  }
  
  .pedPendiente {
    margin-bottom: 5vh;
    border: 6px solid;
    border-radius: 2%;
    border-color: #cf5852;
    margin-left: 3vw;
    margin-right: 3vw;
  }

  .pedEnPreparacion {
    margin-bottom: 5vh;
    border: 6px solid;
    border-radius: 2%;
    border-color: #f3f311;
    margin-left: 3vw;
    margin-right: 3vw;
  }

  .pedEnCamino {
    margin-bottom: 5vh;
    border: 6px solid;
    border-radius: 2%;
    border-color: #3e773e;
    margin-left: 3vw;
    margin-right: 3vw;
  }
  
  ion-item {
    --padding-end: 0px;
    --inner-padding-end: 0px;
    --padding-start: 0px;
    --inner-padding-start: 0px;
  }
  
  // ion-list{
  //     display:flex;
  // }
  .extras {
    font-weight: bold;
    color: black;
  }
  .price {
    text-align: right;
  }
  .w-100 {
    width: 100%;
  }
  .w-min-content {
    width: min-content;
  }
  .contFlex{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}  