<ion-header>
  <ion-toolbar class="contFlex" color="primary">
    <ion-grid fixed>
      <ion-row class="ion-justify-content-center">
        <ion-col size="2" class="contFlex">
          <ion-icon (click)="goPrevPage()" name="arrow-back-circle-outline" size="large"></ion-icon>
        </ion-col>
        <ion-col size="8" class="ion-align-self-center">
          <!--<ion-img src="assets/img/logoLaSpezia.png" class="logoLS"></ion-img>-->
          <ion-title class="ion-text-center">ELEGIR PRODUCTO</ion-title>
        </ion-col>
        <ion-col size="2" class="contFlex"> 
          <ion-icon (click)="redirectHome()" name="home-outline" size="large"></ion-icon>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>

<ion-content class="container">
  <ion-grid color="primary">
    <ion-row class="ion-justify-content-center">
      <ion-col color="primary" size="6">
        <ion-list color="primary">
          <ion-item color="primary" lines="none">
            <ion-select
              interface="popover"
              placeholder="Filtros"
              (ionChange)="handleFilter($event)"
            >
              <ion-content *ngFor="let cat of categorias">
                <ion-select-option [value]="cat.id"
                  >{{cat.descCategoria}}</ion-select-option
                >
              </ion-content>
            </ion-select>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>

  <!-- List of Text Items -->

  <ion-list>
    <ion-item
      *ngFor="let prod of productos$|async"
      (click)="selectProduct(prod.id)"
      lines="none"
    >
      <ion-buttons class="cadaProd">
        <ion-row>
          <ion-row class="width100">
            <!--
            <ion-col size="4">
              <ion-row class="">
                <ion-img
                  class="avatar-producto imgSize"
                  [src]="prod?.imagen||'assets/img/no-image.png'"
                  onerror="assets/img/no-image.png"
                ></ion-img>
              </ion-row>
            </ion-col>
            -->
            <ion-col size="8" class="padLeft">
              <ion-row>
                <ion-label>
                  Categoría: {{getCategoriaProducto(prod.idCategoria)}}
                </ion-label>
              </ion-row>
              <ion-row>
                <ion-label>
                  Nombre: {{prod.nombre}}
                </ion-label>
              </ion-row>
            </ion-col>
          </ion-row>
          <!--
          <ion-row>
            <ion-col>
              <ion-label class="ion-text-wrap">
                Descripción: {{prod.descProd}}
              </ion-label>
            </ion-col>
          </ion-row>
          -->
          <ion-row>
            <ng-container *ngFor="let precio of prod.historial_precio">
              <ion-col class="ml-2">
                <ion-label class="txtTamanio">Precio: {{precio.tamanio}}: </ion-label>
                <ion-label class="txtPrecio">{{precio.precioProd|currency}}</ion-label>
              </ion-col>
            </ng-container>
          </ion-row>
        </ion-row>
      </ion-buttons>
    </ion-item>
  </ion-list>
</ion-content>
