/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

.avatar-producto{
    border-radius:25%; 
    width:4rem; 
    height: 4rem;
    overflow: hidden;
}
.avatar-cliente{
    border-radius:50%; 
    width:8rem; 
    height: 8rem;
    overflow: hidden;
}
.img-producto{
    border-radius:25%; 
    width:6rem; 
    height: 6rem;
    overflow: hidden;
}
.mb-10{
    margin-bottom: 10px;
}
.mr-10{
    margin-right: 10px;
}
.ml-10{
    margin-left: 10px;
}
.mt-10{
    margin-top: 10px;
}

.ion-color-spezia {
    --ion-color-base: var(--ion-color-spezia);
    --ion-color-base-rgb: var(--ion-color-spezia-rgb);
    --ion-color-contrast: var(--ion-color-spezia-contrast);
    --ion-color-contrast-rgb: var(--ion-color-spezia-contrast-rgb);
    --ion-color-shade: var(--ion-color-spezia-shade);
    --ion-color-tint: var(--ion-color-spezia-tint);
  }
.vertical-list {
    display: flex;
    flex-direction: column;
  }
ion-alert {
    // checkbox or radio button color
    .alert-radio-inner.sc-ion-alert-md {
        background-color: var(--ion-color-spezia) !important;
        }
    // checkbox border color
    [aria-checked="true"].sc-ion-alert-md .alert-radio-icon.sc-ion-alert-md {
        border-color: #00000080;
        }
    // Button color
    .alert-button-inner.sc-ion-alert-md {
        color: black;
        //font-weight: bold;
        //font-size: larger;
    }
    // wrap the text
    .alert-radio-label.sc-ion-alert-md {
        //white-space: pre-line !important;
        //font-family: "AustralisProSwash-Italic";
        color: black;
        //font-weight: bold;
    }
    // Checked text color
    [aria-checked="true"].sc-ion-alert-md .alert-radio-label.sc-ion-alert-md {
        color: var(--ion-color-spezia);
    }
    /* NO BORRAR LO COMENTADO, sirve para otrs casos
    //background color
    .alert-wrapper.sc-ion-alert-md {
        background-color: #f8f4aa;
        --background: linear-gradient(
        to right,
        rgba(255, 0, 0, 0),
        rgba(255, 0, 0, 1)
        );
        box-shadow: inset 0 0 75px rgba(255, 210, 0, 0.3),
        inset 0 0 20px rgba(255, 210, 0, 0.4),
        inset 0 0 30px rgba(220, 120, 0, 0.8);
    }

    // Header Text
    .alert-title.sc-ion-alert-md {
        font-size: 25px;
        font-weight: 600;
        font-family: "AustralisProSwash-Italic";
        color: var(--ion-text-color, #00000080);
    }

    // checkbox border color
    [aria-checked="true"].sc-ion-alert-md .alert-radio-icon.sc-ion-alert-md {
        border-color: #00000080;
    }

    // checkbox or radio button color
    .alert-radio-inner.sc-ion-alert-md {
        background-color: #00000080 !important;
    }

    // wrap the text
    .alert-radio-label.sc-ion-alert-md {
        white-space: pre-line !important;
        font-family: "AustralisProSwash-Italic";
        color: var(--ion-text-color, #000000b3);
        font-weight: bold;
    }

    // Height of text
    .alert-tappable.sc-ion-alert-md {
        height: 77px !important;
    }

    // Checked text color
    [aria-checked="true"].sc-ion-alert-md .alert-radio-label.sc-ion-alert-md {
        color: var(--ion-color-step-850, #262626);
    }

    // Button color
    .alert-button-inner.sc-ion-alert-md {
        color: #00000080;
        font-weight: bold;
        font-size: larger;
    }
    */
}
