<app-header> </app-header>

<ion-content>
  <div class="contFlex padtop3">
    <h3 class="txtCenter">CONFIRMAR PEDIDO</h3>
    <h4 class="txtCenter padbot4">Revise los datos ingresados<br>y confirme el pedido</h4>
  </div>
  <div class="recResumen">
    <ion-col size="10">
      <ion-row>
        <ion-label class="txtTitulo">DOMICILIO</ion-label>
      </ion-row>
      <ion-row class="padbot4">
        <ion-label>calle + nroCasa + piso + dpto</ion-label>
      </ion-row>
      <ion-row>
        <ion-label class="txtTitulo">DETALLE PEDIDO</ion-label>
      </ion-row>
      <ion-list>
        <ion-item>
          <ion-col size="4">
            <ion-label>Burdain Cheese</ion-label>
          </ion-col>
          <ion-col size="4">
            <ion-label>2 unidades</ion-label>
          </ion-col>
          <ion-col size="3">
            <ion-label class="ion-text-end">$2000</ion-label>
          </ion-col>
        </ion-item>
      </ion-list>
      <ion-row class="padbot4">
        <ion-col size="6">
          <ion-label>Cadete</ion-label>
        </ion-col>
        <ion-col size="5">
          <div class="ion-text-end">
            <ion-label>$ 300</ion-label>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="6">
          <ion-label class="txtTitulo">TOTAL</ion-label>
        </ion-col>
        <ion-col size="5">
          <div class="ion-text-end txtTitulo">
            <ion-label>$ 2500</ion-label>
          </div>
        </ion-col>
      </ion-row>
    </ion-col>
  </div>
  <div class="inputNotas">
    <ion-item>
      <ion-label position="floating">Notas dobre el pedido</ion-label>
      <ion-input type="text"></ion-input>
    </ion-item>
    
  </div>
  <div class="contFlex">
    <ion-button expand="block" class="btnGde" color="spezia" type="submit">Pagar Pedido</ion-button>
  </div>
</ion-content>