<app-header prevPage="carrito"> </app-header>

<ion-content>
  <div class="contFlex padtop3">
    <h3 class="txtCenter">CONFIRMAR PEDIDO</h3>
    <h4 class="txtCenter padbot4">Revise los datos ingresados<br>y confirme el pedido</h4>
  </div>
  <div class="recResumen">
    <ion-col size="10">
      <ion-row>
        <ion-label class="txtTitulo">DOMICILIO</ion-label>
      </ion-row>
      <ion-row class="padbot4">
        <ion-label>{{formatDomicilio()|titlecase}}</ion-label>
      </ion-row>
      <ion-row>
        <ion-label class="txtTitulo">DETALLE PEDIDO</ion-label>
      </ion-row>
      <ion-list>
        <ion-item *ngFor="let linea of lineasPedido">
          <ion-col size="6">
            <ion-label>{{linea.producto.nombre|titlecase}}</ion-label>
          </ion-col>
          <ion-col size="2">
            <ion-label>{{linea.cantidad}} Unid.</ion-label>
          </ion-col>
          <ion-col size="3">
            <ion-label class="ion-text-end">{{linea.totalProducto|currency}}</ion-label>
          </ion-col>
        </ion-item>
      </ion-list>
      <ion-row class="padbot4">
        <ion-col size="6">
          <ion-label>{{envio.service}}</ion-label>
        </ion-col>
        <ion-col size="5">
          <div class="ion-text-end">
            <ion-label>{{envio.price|currency}}</ion-label>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="6">
          <ion-label class="txtTitulo">TOTAL</ion-label>
        </ion-col>
        <ion-col size="5">
          <div class="ion-text-end txtTitulo">
            <ion-label>{{pedido.total+envio.price|currency}}</ion-label>
          </div>
        </ion-col>
      </ion-row>
    </ion-col>
  </div>
  <div class="inputNotas">
    <ion-item>
      <ion-label position="floating">Notas sobre el pedido</ion-label>
      <ion-input type="text" [formControl]="notasPedido"></ion-input>
    </ion-item>

  </div>
  <div class="contFlex">
    <ion-button expand="block" class="btnGde" color="spezia" type="submit" (click)="navigateTodetailPedido()">Confirmar Pedido</ion-button>
  </div>
</ion-content>