<ion-header>
  <ion-toolbar class="contFlex" color="primary">
    <ion-grid fixed>
      <ion-row class="ion-justify-content-center">
        <ion-col size="2" class="contFlex">
          <ion-icon (click)="goPrevPage()" name="arrow-back-circle-outline" size="large"></ion-icon>
        </ion-col>
        <ion-col size="8" class="ion-align-self-center">
          <!--<ion-img src="assets/img/logoLaSpezia.png" class="logoLS"></ion-img>-->
          <ion-title class="ion-text-center">EDITAR PRODUCTO</ion-title>
        </ion-col>
        <ion-col size="2" class="contFlex"> 
          <ion-icon (click)="redirectHome()" name="home-outline" size="large"></ion-icon>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="contFlex">
    <h4 class="txtCenter padbot4">Los campos con * son obligatorios</h4>
  </div>
  <form [formGroup]="form" (ngSubmit)="presentAlert()">
    <ion-item class="mb-10">
      <ion-label position="stacked">ID</ion-label>
      <ion-input formControlName="idAdic"></ion-input><!--NO EDITABLE-->
    </ion-item>
    <ion-item class="mb-10">
      <ion-label position="stacked">Descripcion*</ion-label>
      <ion-input formControlName="descAdic"></ion-input>
    </ion-item>
    <ion-item class="mb-10">
      <ion-label position="stacked">PVP*</ion-label>
      <ion-input formControlName="precioAdic"></ion-input>
    </ion-item>
    <div class="contFlex mb-10">
      <ion-button expand="block" color="primary" (click)="redirectMenuUsu()">Volver</ion-button>
    </div>
    <div class="contFlex mb-10">
      <ion-button expand="block" class="btnGde" color="primary" type="submit">GUARDAR</ion-button>
    </div>
  </form>
</ion-content>
