<ion-header>
  <ion-toolbar class="contFlex" color="primary">
    <ion-grid fixed>
      <ion-row class="ion-justify-content-center">
        <ion-col size="2" class="contFlex">
          <ion-icon (click)="goPrevPage()" name="arrow-back-circle-outline" size="large"></ion-icon>
        </ion-col>
        <ion-col size="8" class="ion-align-self-center">
          <!--<ion-img src="assets/img/logoLaSpezia.png" class="logoLS"></ion-img>-->
          <ion-title class="ion-text-center">DETALLE PEDIDO</ion-title>
        </ion-col>
        <ion-col size="2" class="contFlex"> 
          <ion-icon (click)="redirectHome()" name="home-outline" size="large"></ion-icon>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="recResumen mt-3">
    <ion-col size="10">
      <ion-row>
        <ion-label class="txtTitulo">DETALLE PEDIDO</ion-label>
      </ion-row>
      <ion-row>
        <ion-col size="4">
          <ion-label>Pedido</ion-label>
        </ion-col>
        <ion-col size="8">
          <ion-label>{{pedido.id}}</ion-label>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="4">
          <ion-label>Cliente</ion-label>
        </ion-col>
        <ion-col size="8">
          <ion-label>{{nombreApellido|titlecase}}</ion-label>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="4">
          <ion-label>Domicilio</ion-label>
        </ion-col>
        <ion-col size="8">
          <ion-label>{{formatDomicilio()|titlecase}}</ion-label>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="4" class="padbot2">
          <ion-label>Teléfono</ion-label>
        </ion-col>
        <ion-col size="8">
          <ion-label>{{telefono|titlecase}}</ion-label>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-label class="txtTitulo">PRODUCTOS</ion-label>
      </ion-row>
      <ion-list >
        <ion-item *ngFor="let linea of lineasPedido">
          <ion-grid fixed>
            <ion-row class="w-100">
              <ion-col>
                <ion-label>{{linea.producto.nombre}}</ion-label><!--Variable previa: {{linea.producto.nombre}}-->
              </ion-col>
              <ion-col>
                <ion-label>{{linea.cantidad}} Unid.</ion-label><!--Variable previa: {{linea.cantidad}} Unid.-->
              </ion-col>
              <ion-col>
                <ion-label class="ion-text-end">{{linea.totalProducto|currency}}</ion-label><!--Variable previa: {{linea.totalProducto|currency}}-->
              </ion-col>
            </ion-row>
            <ion-row class="w-100">
              <ion-col>Notas del producto:</ion-col>
              <ion-col>{{linea.notasDeProducto}}</ion-col>
            </ion-row>
          </ion-grid>
        </ion-item>
      </ion-list>
      <!--
      <ion-row class="padbot2">
        <ion-col size="6">
          <ion-label>{{envio.service|titlecase}}</ion-label>
        </ion-col>
        <ion-col size="5">
          <div class="ion-text-end">
            <ion-label>{{envio.price|currency}}</ion-label>
          </div>
        </ion-col>
      </ion-row>
      -->
      <ion-row class="padbot2">
        <ion-col size="6">
          <ion-label class="txtTitulo">TOTAL (envío incluido)</ion-label>
        </ion-col>
        <ion-col size="5">
          <div class="ion-text-end txtTitulo">
            <ion-label>{{pedido.total|currency}}</ion-label><!-- Variable previa: {{pedido.total|currency}}-->
          </div>
        </ion-col>
      </ion-row>
      <ion-row class="padbot2">
        <ion-col size="6">
          <ion-label class="txtTitulo">FORMA DE PAGO</ion-label>
        </ion-col>
        <ion-col size="5">
          <div class="ion-text-end">
            <ion-label>Efectivo en la entrega</ion-label><!--No es necesario poner variable por el momento-->
          </div>
        </ion-col>
      </ion-row>
      <ion-row class="padbot2">
        <ion-col size="6">
          <ion-label class="txtTitulo">Notas del pedido</ion-label>
        </ion-col>
        <ion-col size="5">
          <div class="ion-text-end">
            <ion-label>{{pedido.notasPedido|titlecase}}</ion-label>
          </div>
        </ion-col>
      </ion-row>
      <ion-row class="padbot2">
        <ion-col size="6">
          <ion-label class="txtTitulo">ESTADO</ion-label>
        </ion-col>
        <ion-col size="5">
          <div class="ion-text-end">
            <ion-label>{{pedido.estadoPedido|titlecase}}</ion-label><!--Va variable de estado-->
          </div>
        </ion-col>
      </ion-row>
    </ion-col>
  </div>
  <div 
  class="contFlex"
  *ngIf='pedido.estadoPedido==estadosPedido.Pendiente' 
  >
    <ion-button expand="block" class="btnGde" color="primary" type="submit" (click)="confirmaPedido()">Imprimir</ion-button>
    <ion-button expand="block" class="mt-3 btnGde" color="danger" type="submit" (click)="rechazaPedido()">Rechazar</ion-button>
  </div>
  <div 
  class="contFlex"
  *ngIf='pedido.estadoPedido!=estadosPedido.Pendiente' 
  >
    <ion-button expand="block" class="btnGde mb-3" color="primary" type="submit" (click)="redirectEstadoPedido(pedido.id)">Estado pedido</ion-button>
  </div>
</ion-content>
